<header class="l-ui-container--header">
  <div class="l-ui-header">
    <%= link_to root_path do %>
      <%= image_tag("layered_ui/logo_layered_large_light.svg", alt: "layered.ai", class: "l-ui-header__logo l-ui-header__logo--light") %>
      <%= image_tag("layered_ui/logo_layered_large_dark.svg", alt: "layered.ai", class: "l-ui-header__logo l-ui-header__logo--dark") %>
    <% end %>

    <nav class="l-ui-header__nav">
      <button
        data-controller="theme"
        data-action="click->theme#toggle"
        class="l-ui-theme-toggle"
        aria-label="Toggle theme"
      >
        <svg
          class="l-ui-icon--sm l-ui-theme-toggle__icon--light"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          aria-hidden="true"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z"
          ></path>
        </svg>

        <svg
          class="l-ui-icon--sm l-ui-theme-toggle__icon--dark"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          aria-hidden="true"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M12 3v1m0 16v1m9-9h-1M4 12H3m15.364 6.364l-.707-.707M6.343 6.343l-.707-.707m12.728 0l-.707.707M6.343 17.657l-.707.707M16 12a4 4 0 11-8 0 4 4 0 018 0z"
          ></path>
        </svg>
      </button>

      <% if user_signed_in? %>
        <%= yield :header_project_selector %>
        <button
          type="button"
          class="l-ui-btn-mobile-menu"
          data-action="click->mobile-menu#toggle"
        >
          <svg
            class="l-ui-icon--md"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"
            ></path>
          </svg>
        </button>
      <% else %>
        <%= link_to "Login", new_user_session_path, class: "l-ui-btn-outline" %>
        <%= link_to "Sign up", new_user_registration_path, class: "l-ui-btn-primary" %>
      <% end %>
    </nav>
  </div>
</header>
