<% if user_signed_in? %>
  <nav class="l-ui-container--nav" data-mobile-menu-target="nav">
    <div class="l-ui-nav">
      <div class="l-ui-nav__links">
        <%= yield :nav_links %>
      </div>

      <div>
        <div class="l-ui-nav__user-name"><%= current_user.name %></div>

        <div class="l-ui-nav__user-email">
          <%= current_user.email %>
        </div>

        <%= yield :nav_team_selector %>

        <div class="l-ui-nav__user">
          <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "l-ui-btn-outline--danger-full" %>
        </div>
      </div>
    </div>
  </nav>
<% end %>
