<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Layered" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Layered">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="body theme-light" data-controller="mobile-menu theme-switcher" data-action="click@window->mobile-menu#close">
    <% if user_signed_in? %>
      <%= turbo_stream_from current_user %>
    <% end %>
    <%= render "layouts/layered_ui/header" %>
    <%= render "layouts/layered_ui/nav" %>
    <%= yield :assistant %>

    <main>
      <div class="page <%= 'page--with-nav' if user_signed_in? %>">
        <%= render "layouts/layered_ui/notice" %>
        <%= yield %>
      </div>
    </main>
  </body>
</html>
