<div class="l-ui-page--vertically-centered">
  <div class="l-ui-page--width-constrained">
    <h1>Welcome back</h1>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'l-ui-form' }) do |f| %>
      <%= render 'layouts/layered_ui/notice' %>
      <%= render 'layered_ui/shared/form_errors', item: resource %>

      <div class="l-ui-form__group">
        <%= render 'layered_ui/shared/label', form: f, field: :email, required: true %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "l-ui-field" %>
        <%= render 'layered_ui/shared/field_error', object: resource, field: :email %>
      </div>

      <div class="l-ui-form__group">
        <%= render 'layered_ui/shared/label', form: f, field: :password, required: true %>
        <%= f.password_field :password, autocomplete: "current-password", class: "l-ui-field" %>
        <%= render 'layered_ui/shared/field_error', object: resource, field: :password %>

      <% if devise_mapping.rememberable? %>
        <div class="l-ui-form__group l-ui-container--checkbox">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me, class: "l-ui-label--checkbox" %>
        </div>
      <% end %>

      <div class="l-ui-form__group--large-gap">
        <%= f.submit "Continue", class: "l-ui-btn-primary--full" %>
      </div>
    <% end %>

    <div class="l-ui-form__group">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
